.all-results-container {
    text-align: center;
    padding: 150px;
  }

  .all-results-container h2{
    color: white;
  }
  
  .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .result-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  .result-card:hover {
    transform: scale(1.05);
    font-weight: bold;
  }

  .result-card h3 {
    margin: 0;
    color: #333;
    font-size: 1.2rem;
  }

  .result-card a {
    text-decoration: none;
    color: inherit;
  }